.advantages {
  padding: 94px 0px 0px;
}

.advantages-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-item::before {
  content: "";
  display: block;
  background-clip: content-box;

  height: 120px;
  background-color: $secondary-color;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.photo-antenna::before {
  background-image: url(../images/main/antenna.png);
}

.photo-heur::before {
  background-image: url(../images/main/heur.png);
}

.photo-graphic::before {
  background-image: url(../images/main/graphic.png);
}

.photo-astonaft::before {
  background-image: url(../images/main/astronaft.png);
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
