.menu-toggle {
  position: relative;
  display: block;
  z-index: 9;
  width: 30px;
  height: 30px;
}
.menu-check {
  display: none;
}
.menu-toggle::before,
.menu-toggle::after {
  content: "";
}
//верхня, середня та нижня лінії
.menu-toggle::before,
.menu-toggle__line,
.menu-toggle::after {
  width: 100%;
  height: 2px;
  background-color: #030303;
  position: absolute;
  left: 0;
  transition: 0.5s linear;
  transition-property: top, transform;
}

.menu-toggle::before:hover,
.menu-toggle__line:hover,
.menu-toggle::after:hover {
  background-color: $accent-color;
}

// Верхня лінія
.menu-toggle::before {
  top: 0;
}
// Середня лінія
.menu-toggle__line {
  top: calc(50% - 1px);
}
// Нижня лінія
.menu-toggle::after {
  top: calc(100% - 2px);
}

.menu-check:checked ~ .menu-toggle {
  &::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-toggle__line {
    transform-origin: left;
    transform: scaleX(0);
  }
  &::after {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
