.section {
  padding: 94px 0px;
}

.section--advatages {
  padding: 94px 0px 0px;
}

.section--work {
  padding: 95px 0px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.section--team {
  padding-top: 94px;
  padding-bottom: 87px;
  background-color: var(--secondary-color);
}
