.section {
  padding: 60px 0px;
  @extend %flex-center;
}

.section--advatages {
  padding: 60px 0px 0px;
}

.section--work {
  display: none;
}

.section__title {
  @include font-text(28px);
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}

.section--team {
  background-color: $secondary-color;
}

// ..........................DESKTOP VERSION .....................
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }

  .section--advatages {
    padding: 94px 0px 0px;
  }

  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
