.section {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--advatages {
  padding: 60px 0px 0px;
}

.section--work {
  display: none;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.section--team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-color;
}

// ..........................DESKTOP VERSION .....................
@media screen and (min-width: 1024px) {
  .section {
    padding: 94px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section--advatages {
    padding: 94px 0px 0px;
  }

  .section--work {
    padding: 95px 0px;
  }

  .section__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
  }

  .section--team {
    padding-top: 94px;
    padding-bottom: 87px;
    background-color: $secondary-color;
  }
}
