// ..........................DESKTOP VERSION .....................
@media screen and (min-width: 1024px) {
  .section--work {
    padding: 95px 0px;
  }

  .section__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
  }

  .work__title {
    text-align: center;
    position: absolute;
    @include font-text;
    color: $background-color;
    background-color: rgb(47, 48, 58, 0.8);
    padding: 27px 0 27px;
    width: 100%;
    line-height: 1.14;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
  }
}
