/* Кольори */
$logo-color: #000000;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-color: #2f303a;
$background-color: #ffffff;
$secondary-color: #f5f4fa;
$accent-color: #2196f3;
$translucent-white: rgba(255, 255, 255, 0.6);
$text-arrow: #ececec;
/* Шрифти */
$font-primary: "Roboto", serif;
$font-secondary: "Raleway", serif;
