:root {
  /* Кольори */
  --logo-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-color: #2f303a;
  --background-color: #ffffff;
  --secondary-color: #f5f4fa;
  --accent-color: #2196f3;
  --translucent-white: rgba(255, 255, 255, 0.6);
  /* Шрифти */
  --font-primary: "Roboto", serif;
  --font-secondary: "Raleway", serif;
}
body {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  align-items: center;
}

.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header-link {
  color: var(--logo-color);
}

.header-link:hover {
  color: var(--accent-color);
}
.header-logo-part {
  color: var(--logo-color);
}

.logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;

  line-height: 1.2;
  color: var(--accent-color);
}

.nav {
  flex-grow: 2;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--accent-color);
}

.list {
  display: flex;
  gap: 50px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  margin-top: 200px;
  text-transform: uppercase;
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--background-color);
  text-align: center;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
}
.advantages {
  padding: 94px 0px;
}

.advantages-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-item::before {
  content: "";
  display: block;
  background-clip: content-box;

  height: 120px;
  background-color: var(--secondary-color);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.photo-antenna::before {
  background-image: url(../images/main/antenna.png);
}

.photo-heur::before {
  background-image: url(../images/main/heur.png);
}

.photo-graphic::before {
  background-image: url(../images/main/graphic.png);
}

.photo-astonaft::before {
  background-image: url(../images/main/astronaft.png);
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work {
  padding: 95px 0px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

.team {
  padding-top: 94px;
  padding-bottom: 87px;
}

.team-list {
  gap: 30px;
  display: flex;
  align-items: center;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
}

.teammmate-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-item {
  color: var(--colorTextWords);
}

.portfolio-item:hover {
  color: var(--colroTextLink);
}

.hero {
  background-color: var(--primary-color);
}

.hero-title {
  color: var(--background-color);
}

.hero-button:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--background-color);

  cursor: pointer;
}

.team {
  background-color: var(--secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: var(--primary-color);
  padding: 60px 0px;
}

.footer-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-text {
  color: var(--background-color);
}

.footer-logo {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo-part {
  font-family: "Raleway", serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  color: var(--background-color);
}

.footer-address {
  color: var(--background-color);
  text-decoration: none;
}

.footer-address-text {
  color: var(--background-color);
}

.footer-address-link {
  color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.footer-address-list {
  text-decoration: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
