.main-link {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

header {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.portfolio-link a {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.email-link {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.phone-link {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.my-section button {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
}

.my-section .first-button {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
}

.my-section h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.my-section p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.last-section p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.contact-link {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
