:root {
  /* шрифти */
  --font-primary: "Roboto", serif;
  --font-secondary: "Raleway", serif;
  /* кольори */
  --color-primary: #212121;
  --color-contrast: #ffffff;
  --color-button: #2196f3;
  --color-bg-primary: #757575;
  --color-bg-secondary: #000000;
  --color-bg-last: #2f303a;
}

body {
  font-family: var(--font-primary);
}

.header-logo {
  font-family: var(--font-secondary);
  color: var(--color-button);
  font-size: 26px;
  font-weight: 700;
}

.header-span {
  color: var(--color-bg-secondary);
}

.nav-link {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link:hover {
  color: var(--color-button);
}

.contact-link {
  color: var(--color-bg-primary);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.contact-link:hover {
  color: var(--color-button);
}

.about {
  color: var(--color-contrast);
  background-color: var(--color-bg-last);
}

.hero {
  font-weight: 900;
  font-size: 44px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-contrast);
  background-color: var(--color-button);
}

.advantages-item {
  color: var(--color-bg-primary);
  font-weight: 700;
  font-size: 14px;
}

.advantages-text {
  color: var(--color-bg-primary);
  font-weight: 400;
  font-size: 14px;
}

.work--title,
.team-title {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 36px;
}

.team {
  font-size: 16px;
}

.teammate-name {
  color: var(--color-primary);
  font-weight: 500;
}

.teammate-role {
  color: var(--color-bg-primary);
  font-weight: 400;
}

footer {
  color: var(--color-contrast);
  font-weight: 400;
  font-size: 14px;
}

.footer-logo {
  font-family: var(--font-secondary);
  color: var(--color-button);
  font-size: 26px;
  font-weight: 700;
}

.footer-span {
  color: var(--color-contrast);
}

.footer-link {
  color: var(--color-contrast);
  font-weight: 400;
  font-size: 14px;
}
